@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow: hidden;
  background-color: black;
}

canvas {
  width: 100vw;
  height: 100vh;
}

div.sticky {
  position: fixed;
  left: 15px;
  width: 50%;
  top: 0px;
  margin: auto;
  font-size: 0.95em;
  font-family: Georgia;
  line-height: 20px;
} 

/* unvisited link */
a:link {
  color: #d3dff1;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #a281ca;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #8de0f2;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #00cc99;
}

.expand-link {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.706);
  color: white;
  border-radius: 5px;
  font-size: 1.2em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3em;
  height: 1.3em;
}

.expand-link:hover {
  background-color: darkgray;
}

@media (min-height: 351px) {
  .expand-link {
      display: none !important;
  }
}