@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scroll-behavior: auto;
}
body {
  font-family: "Asap", sans-serif;
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;

  background: #d3dfea;
  color: dimgray;
}
h1 {
  padding: 1rem 1rem 0;
}
a {
  color: dimgray;
}
#wrap {
  position: relative;
  margin: 0 auto;
}
#c {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}
#gallery {
  --size-w: 200px;
  --size-h: calc(var(--size-w) * 1.25);

  position: relative;
  width: min(100%, 1000px);
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  z-index: 1;
}
.card {
  position: relative;
  width: var(--size-w);
  min-height: var(--size-h);

  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.geo {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  overflow-x: clip;
  overflow-y: clip;
  user-select: none;
}
.title {
  position: relative;
  padding: 0.2rem;
}
.info {
  padding: 1rem;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
